<header class="main-header">

  <!-- Logo -->
  <a class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>C</b>L</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>Company</b> Logo</span>
  </a>

  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top">
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav" >
        <li class="dropdown user user-menu">
          <a href="#" style=" display: flex; padding-top:10px; padding-bottom: 10px; align-items: center;" class="dropdown-toggle" data-toggle="dropdown">
            <img style="width: 31px; margin-right: 10px; border: none;" class="profile-user-img img-fluid img-circle" src="{{authUser.profile_pic?authUser.profile_pic: '/assets/img/no-image-user.png' }}" alt="User Pic">
            <span class="hidden-xs">{{(authUser.surname?authUser.surname:'') | titlecase}} {{(authUser.name?authUser.name:'Anonymous') | titlecase}}</span>
          </a>
          <ul class="dropdown-menu">
            <!-- User image -->
            <li class="user-header">
              <img style="width: 75px; height: 75px; margin-right: 10px; border: none;" class="profile-user-img img-fluid img-circle" src="{{authUser.profile_pic?authUser.profile_pic: '/assets/img/no-image-user.png' }}" alt="User Pic">
              <p>
                {{(authUser.surname?authUser.surname:'') | titlecase}} {{(authUser.name?authUser.name:'Anonymous') | titlecase}} - Admin
                <small>Admin since {{authUser.created_at | date:'MMMM y'}}</small>
              </p>
            </li>

            <!-- Menu Footer-->
            <li class="user-footer">
              <div class="pull-left">
                <a routerLink="/user-profile" class="btn btn-default btn-flat">Profile</a>
              </div>
              <div class="pull-right">
                <a (click)="logout()" class="btn btn-default btn-flat">Sign out</a>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>

  </nav>
</header>
