<div class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">
    <app-header></app-header>
    <app-sidebar></app-sidebar>

    <div class="content-wrapper">
      <section class="content-header">
        <h1>
          Subscriber List
        </h1>
      </section>

      <section class="content">
        <div class="row">
            User List
        </div>
      </section>
    </div>

    <app-footer></app-footer>
  </div>
</div>
