
<div class="hold-transition login-page login-box">
  <div class="login-logo">
    <b>Company Logo</b>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
      <p class="login-box-msg">Sign in to start your session</p>
      <div class="alert alert-danger" [hidden]="!error">
        <strong><i class="icon fa fa-ban"></i>Invalid! </strong> email or password
      </div>
      <form class="mb-3" [formGroup]="loginForm" novalidate (ngSubmit)="signIn()">

        <div class="form-group has-feedback">
          <input type="email" formControlName="username" class="form-control"  placeholder="Username">
          <span class="fa fa-envelope form-control-feedback"></span>
          <div *ngIf="submitted && f.username.errors">
            <span [hidden]="!f.username.errors.required" class="error-block"> Username is required.</span>
          </div>
        </div>

        <div class="form-group has-feedback">
          <input type="password" formControlName="password" class="form-control" placeholder="Password">
          <span class="fa fa-key form-control-feedback"></span>
          <div *ngIf="submitted && f.password.errors">
            <span [hidden]="!f.password.errors.required" class="error-block"> Password is required. </span>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-2">
            <a routerLink="/forgot-password" type="button" class="btn btn-link btn-block btn-flat">
              Forgot Password?
            </a>
          </div>
          <div class="col-xs-6">
          </div>
          <div class="col-xs-4">
            <button type="submit" [disabled]="loginForm.invalid || loginForm.pristine" class="btn btn-primary btn-block btn-flat">
              Sign In
              <i *ngIf="loading" class="fa fa-spinner fa-spin"></i>
            </button>

          </div>
        </div>
      </form>

    <!-- /.login-card-body -->
  </div>
</div>
