<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">

      <li routerLinkActive="active">
        <a routerLink="/nav1">
          <i class="fa fa-user"></i> <span> User List</span>
        </a>
      </li>

      <li routerLinkActive="active">
        <a routerLink="/nav2">
          <i class="fa fa-ticket-alt"></i> <span> Nav 2</span>
        </a>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
