/* You can add global styles to this file, and also import other style files */
.previous, .next{
  cursor: pointer;
}
.no-record{
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
